<div class="home-header">
    <h1>Custom Fit</h1>
    <div id="brand"><p class="lead">News that suits you</p></div>
    <p>Stories that may interest you:</p>
  </div>
  <div class="col-lg-10">
    <div class="row">
      <div class="stories">
        <div id="story-1" class="stories col-lg-4">
          <div class="story-lead col-lg-4">
            <div class="story-type">
              <p>Sports</p>
            </div>
            <div class="story-header">
              <p>LeBron James to sign two-year deal to return to Cavs</p>
            </div>
          </div>
        </div>
        <div id="story-2" class="stories col-lg-4">
          <div class="story-lead col-lg-4">
            <div class="story-type">
              <p>Tech</p>
            </div>
            <div class="story-header">
              <p>GitLab raises 1.5M seed round</p>
            </div>
          </div>
        </div>
        <div id="story-3" class="stories col-lg-4">
          <div class="story-lead col-lg-4">
            <div class="story-type">
              <p>Politics</p>
            </div>
            <div class="story-header">
              <p>GOP leaders fear Trump has damaged the parties brand</p>
            </div>
          </div>
        </div>
        <div id="story-4" class="stories col-lg-4">
          <div class="story-lead col-lg-4">
            <div class="story-type">
              <p>Movies</p>
            </div>
            <div class="story-header">
              <p>Bond is back</p>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
